* {
	touch-action: manipulation;
}

body {
	margin: 0;
}

.content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn {
	margin-top: 15px;
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 0;
	background-color: silver;
	color: black;
	box-sizing: border-box;
	font: bold 17px Helvetica, Arial, sans-serif;
}

.btn:hover {
	cursor: pointer;
	box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.5);
}

.texture-canvas-container {
	width: min(768px, 100vw);
	display: inline-grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(16, 1fr);
}

.texture-canvas {
	width: min(256px, calc(100vw / 3));
	height: min(256px, calc(100vw / 3));
	image-rendering: pixelated;
}
