* {
	touch-action: manipulation;
}

body {
	margin: 0;
}

.content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn {
	font: bold 17px Helvetica, Arial, sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	cursor: pointer;
	border: none;
	padding: 0.25em 0.5em;
	margin-top: 15px;
	width: 200px;
	height: 50px;
	background-color: silver;
	box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.btn:active {
	box-shadow: 0px 0px 0px 0px;
	top: 5px;
	left: 5px;
}

@media (min-width: 768px) {
	.button-54 {
		padding: 0.25em 0.75em;
	}
}

.texture-canvas-container {
	width: min(768px, 100vw);
	display: inline-grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(16, 1fr);
}

.texture-canvas {
	width: min(256px, calc(100vw / 3));
	height: min(256px, calc(100vw / 3));
	image-rendering: pixelated;
}
